<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<div class="container text-center">
    <h1>Project from udemy "Django-3 full stack" course</h1>
    <p>This is a password generator created by {{ name }}.</p>
    <a href="{% url 'home' %}" class="btn btn-warning">Home</a>
</div>