<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<div class="container text-center">
    <h1>Password Generator</h1>

    <form action="{% url 'password' %}">
        <select name="length">
            <option value="6">6 char long</option>
            <option value="7">7 char long</option>
            <option value="8">8 char long</option>
            <option value="9">9 char long</option>
            <option value="10">10 char long</option>
            <option value="11">11 char long</option>
            <option value="12" selected="selected">12 char long</option>
        </select>Length
        <br>
        <input type="checkbox" name="uppercase"> Uppercase
        <br>
        <br>
        <input type="checkbox" name="numbers"> Numbers
        <br>
        <br>
        <input type="checkbox" name="special"> Special Char
        <br>
        <input type="submit" value="Generate Password" class="btn btn-primary">
    </form>
</div>
<div class="container text-center">
    <a href="{% url 'about' %}" class="btn btn-warning">About</a>
</div>